<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn-primary" 
            (click)="displayDetails()"
            >Display Details</button>
            <p *ngIf="!activate">This is a random paragraph!</p>
            <button 
            (click) = marker()
            >Click me</button>
            <p *ngFor="let amount of mad; let i = index"
            [ngStyle]="{color: 'red'}"
            [ngClass]="{'.assign': i>=5}"
            >This is the {{amount}} pay</p>

        </div>
    </div>
</div>